In [8]:
import pandas as pd

In [9]:
# Import in CSV files from resources 
global_space_launches_to_load = "resources\global_space_launches.csv"
important_missions_to_load = "resources\important_missions.csv"

global_space_launches= pd.read_csv(global_space_launches_to_load)
important_missions= pd.read_csv(important_missions_to_load)

In [10]:
important_missions

,Date,Mission success,Country/organization,Mission name
0,3/17/1905,"Inspired by the writings of Jules Verne, first...",Russia,Konstantin Tsiolkovsky
1,3/28/1905,Goddard files for and is subsequently awarded ...,United States,Robert H. Goddard
2,3/31/1905,First observation of an extrasolar planet (exo...,Netherlands,Adriaan van Maanen
3,4/2/1905,"Goddard's widely influential paper ""A Method o...",United States,Robert H. Goddard
4,12/15/1923,"Die Rakete zu den Planetenr�umen (""By Rocket i...",Germany,Hermann Oberth
...,...,...,...,...
172,9/21/2018,First operational rover on asteroid (162173 Ry...,Japan (JAXA),Hayabusa2
173,1/1/2019,First contact binary explored by spacecraft (4...,USA (NASA),New Horizons
174,1/3/2019,First soft landing on the far side of the Moon...,China (CNSA),Chang'e 4
175,4/10/2019,First direct photograph of a black hole and it...,USA (NASA),Event Horizon Telescope
176,5/30/2020,First orbital human spaceflight launched by a ...,USA (SpaceX),SpaceX Demo-2