In [1]:
import pandas as pd

In [2]:
# Import in CSV files from resources 
global_space_launches_to_load = "resources\global_space_launches.csv"
important_missions_to_load = "resources\important_missions.csv"
cost_data_to_load = "resources\COST_DATA.csv"


global_space_launches= pd.read_csv(global_space_launches_to_load)
important_missions= pd.read_csv(important_missions_to_load)
cost_data = pd.read_csv(cost_data_to_load)

In [3]:
cost_data

,Vehicle,Operator,Year of First Launch,Total 2017 Launches,Active Launch Sites,Mass to LEO kg,Mass to SSO kg,Mass to GTO kg,Est Min Prce,Estimated Price per
0,Antares,Orbital ATK,2013.0,1.0,MARS,"3,500-7,000","2,100-3,400",N/A,"$80,000,000.00","$85,000,000"
1,Atlas V,ULA and LMCLS,2002.0,6.0,CCAFS-VAFB,"8,123-18,814","6,424-15,179","3,460-8,900","$110,000,000.00","$230,000,000"
2,Electron,Rocket Lab,2017.0,1.0,PSCA MAHIA . NZ,150,NaN,$4.9M,"$164,000,000.00","$400,000,000"
3,Falcon 9,SpaceX,2010.0,18.0,CCAFS-VAFB-KSC,"13,150",NaN,"4,850","$61,200,000",NaN
4,Minotaur-C,Orbital ATK,2017.0,1.0,CCAFS-MARS-VAFB-WFF,"1,278-1,458","912-1,054",N/A,"$40,000,000.00","$50,000,000"
5,Pegasus XL,Orbital ATK,1994.0,0.0,CCAFS-KWAJALEIN-VAFB-WFF,450,325,N/A,"$40,000,000",NaN
6,Aplha,Firefly Aerospace,NaN,NaN,NaN,"1,000",650,N/A,"$10,000,000",NaN
7,Cab-3A,CubeCeb,2017.0,NaN,NaN,5,NaN,N/A,"$250,000",NaN
8,Falcon-Heavy,SpaceX,2017.0,NaN,KSC VAFB,"63,800",NaN,"26,700","$270,000,000",NaN
9,LauncherOne,Virgin Orbit,2017.0,NaN,Spaceport America,500,300,N/A,"$10,000,000",NaN
10,New Glenn,Blue Origin,2020.0,NaN,CCAFS,"45,000",NaN,"13,000",NaN,NaN
11,NGL,Orbital ATK,2021.0,NaN,"KSC, VAFB",NaN,NaN,"8,500",NaN,NaN
12,Stratolaunch,Stratolaunch Systems,2018.0,NaN,Mojave KSC,"3,000","1,400",N/A,NaN,NaN
13,Vector R/H,Vector Space Systems,2017.0,NaN,CCAFS PSCA,60-110,40-75,N/A,"$3,000,000",NaN
14,Vulcan,ULA,2019.0,NaN,CCAFS VAFB,"9,370-18,510","7,724-15,179","4,750-8,900","$85,000,000.00","$172,500,000"