In [8]:
import pandas as pd

In [11]:
# Import in CSV files from resources 
global_space_launches_to_load = "resources\global_space_launches.csv"
important_missions_to_load = "resources\important_missions.csv"
cost_data_to_load = "resources\COST_DATA.csv"

global_space_launches= pd.read_csv(global_space_launches_to_load)
important_missions= pd.read_csv(important_missions_to_load)
cost_data = pd.read_csv(cost_data_to_load)

In [12]:
important_missions

,Date,Mission success,Country/organization,Mission name
0,3/17/1905,"Inspired by the writings of Jules Verne, first...",Russia,Konstantin Tsiolkovsky
1,3/28/1905,Goddard files for and is subsequently awarded ...,United States,Robert H. Goddard
2,3/31/1905,First observation of an extrasolar planet (exo...,Netherlands,Adriaan van Maanen
3,4/2/1905,"Goddard's widely influential paper ""A Method o...",United States,Robert H. Goddard
4,12/15/1923,"Die Rakete zu den Planetenr�umen (""By Rocket i...",Germany,Hermann Oberth
...,...,...,...,...
172,9/21/2018,First operational rover on asteroid (162173 Ry...,Japan (JAXA),Hayabusa2
173,1/1/2019,First contact binary explored by spacecraft (4...,USA (NASA),New Horizons
174,1/3/2019,First soft landing on the far side of the Moon...,China (CNSA),Chang'e 4
175,4/10/2019,First direct photograph of a black hole and it...,USA (NASA),Event Horizon Telescope
176,5/30/2020,First orbital human spaceflight launched by a ...,USA (SpaceX),SpaceX Demo-2

In [7]:
global_space_launches

,Company Name,Location,Detail,Status Rocket,Rocket,Status Mission,Country of Launch,Companys Country of Origin,Private or State Run,DateTime,Year,Month,Day,Date,Time
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,USA,USA,P,2020-08-07 05:12:00+00:00,2020,8,7,07/08/2020,05:12
1,CASIC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,China,China,S,2020-08-06 04:01:00+00:00,2020,8,6,06/08/2020,04:01
2,SpaceX,"Pad A, Boca Chica, Texas, USA",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,USA,USA,P,2020-08-04 23:57:00+00:00,2020,8,4,04/08/2020,23:57
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,Kazakhstan,Russia,S,2020-07-30 21:25:00+00:00,2020,7,30,30/07/2020,21:25
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",Atlas V 541 | Perseverance,StatusActive,145.0,Success,USA,USA,P,2020-07-30 11:50:00+00:00,2020,7,30,30/07/2020,11:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4319,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",Vanguard | Vanguard TV3BU,StatusRetired,NaN,Failure,USA,USA,S,1958-02-05 07:33:00+00:00,1958,2,5,05/02/1958,07:33
4320,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",Juno I | Explorer 1,StatusRetired,NaN,Success,USA,USA,S,1958-02-01 03:48:00+00:00,1958,2,1,01/02/1958,03:48
4321,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",Vanguard | Vanguard TV3,StatusRetired,NaN,Failure,USA,USA,S,1957-12-06 16:44:00+00:00,1957,12,6,06/12/1957,16:44
4322,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",Sputnik 8K71PS | Sputnik-2,StatusRetired,NaN,Success,Kazakhstan,Russia,S,1957-11-03 02:30:00+00:00,1957,11,3,03/11/1957,02:30
4323,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",Sputnik 8K71PS | Sputnik-1,StatusRetired,NaN,Success,Kazakhstan,Russia,S,1957-10-04 19:28:00+00:00,1957,10,4,04/10/1957,19:28

In [13]:
cost_data

,Vehicle,Operator,Year of First Launch,Total 2017 Launches,Active Launch Sites,Mass to LEO kg (lb),Mass to SSO kg (lb),Mass to GTO kg (lb),Est Min Prce,Estimated Price per
0,Antares,Orbital ATK,2013.0,1.0,MARS,"3,500-7,000 (7,716-15,432)","2,100-3,400 (4,630-7,496)",N/A,"$80,000,000.00","$85,000,000"
1,Atlas V,ULA and LMCLS,2002.0,6.0,CCAFS-VAFB,"8,123-18,814 (17,908-41,478)","6,424-15,179 (14,163-33,464)","3,460-8,900 (7,620-19,620)","$110,000,000.00","$230,000,000"
2,Electron,Rocket Lab,2017.0,1.0,PSCA MAHIA . NZ,150 (331),NaN,$4.9M,"$164,000,000.00","$400,000,000"
3,Falcon 9,SpaceX,2010.0,18.0,CCAFS-VAFB-KSC,"13,150 (28,991)",NaN,"4,850 (10,692)","$61,200,000",NaN
4,Minotaur-C,Orbital ATK,2017.0,1.0,CCAFS-MARS-VAFB-WFF,"1,278-1,458 (2,814-3,214)","912-1,054 (2,008-2,324)",N/A,"$40,000,000.00","$50,000,000"
5,Pegasus XL,Orbital ATK,1994.0,0.0,CCAFS-KWAJALEIN-VAFB-WFF,450 (992),325 (717),N/A,"$40,000,000",NaN
6,Aplha,Firefly Aerospace,NaN,NaN,NaN,"1,000 (2,205)","650 (1,433)",N/A,"$10,000,000",NaN
7,Cab-3A,CubeCeb,2017.0,NaN,NaN,5 (11),NaN,N/A,"$250,000",NaN
8,Falcon-Heavy,SpaceX,2017.0,NaN,KSC VAFB,"63,800 (140,660)",NaN,"26,700 (58,860)","$270,000,000",NaN
9,LauncherOne,Virgin Orbit,2017.0,NaN,Spaceport America,"500 (1,102)",300 (661),N/A,"$10,000,000",NaN
10,New Glenn,Blue Origin,2020.0,NaN,CCAFS,"45,000 (99,208)",NaN,"13,000 (28,660)",NaN,NaN
11,NGL,Orbital ATK,2021.0,NaN,"KSC, VAFB",NaN,NaN,"8,500 (18,739)",NaN,NaN
12,Stratolaunch,Stratolaunch Systems,2018.0,NaN,Mojave KSC,"3,000 (6,614)","1,400 (3,086)",N/A,NaN,NaN
13,Vector R/H,Vector Space Systems,2017.0,NaN,CCAFS PSCA,60-110 (132-243),40-75 (88-165),N/A,"$3,000,000",NaN
14,Vulcan,ULA,2019.0,NaN,CCAFS VAFB,"9,370-18,510 (20,657-40,510)","7,724-15,179 (17,029-33,464)","4,750-8,900 (10,472- 19,621) $","$85,000,000.00","$172,500,000"