In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import os

In [15]:
resource_dir = os.path.join('.','resources')

df = pd.read_csv(os.path.join(f'{resource_dir}','global_space_launches.csv'))
df.head()

,Company Name,Location,Detail,Status Rocket,Rocket,Status Mission,Country of Launch,Companys Country of Origin,Private or State Run,DateTime,Year,Month,Day,Date,Time
0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success,USA,USA,P,2020-08-07 05:12:00+00:00,2020,8,7,07/08/2020,05:12
1,CASIC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success,China,China,S,2020-08-06 04:01:00+00:00,2020,8,6,06/08/2020,04:01
2,SpaceX,"Pad A, Boca Chica, Texas, USA",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success,USA,USA,P,2020-08-04 23:57:00+00:00,2020,8,4,04/08/2020,23:57
3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success,Kazakhstan,Russia,S,2020-07-30 21:25:00+00:00,2020,7,30,30/07/2020,21:25
4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA",Atlas V 541 | Perseverance,StatusActive,145.0,Success,USA,USA,P,2020-07-30 11:50:00+00:00,2020,7,30,30/07/2020,11:50

In [21]:
list_countries = df['Companys Country of Origin'].unique()

df.sort_values(by='Companys Country of Origin').reset_index(drop=True)

,Company Name,Location,Detail,Status Rocket,Rocket,Status Mission,Country of Launch,Companys Country of Origin,Private or State Run,DateTime,Year,Month,Day,Date,Time
0,Arme de l'Air,"Brigitte, Hammaguir, Algeria, France",Diamant A | Diad?ªme 2,StatusRetired,NaN,Success,France,Arme de l'Air,S,1967-02-15 10:06:00+00:00,1967,2,15,15/02/1967,10:06
1,Arme de l'Air,"Brigitte, Hammaguir, Algeria, France",Diamant A | Diad?ªme 1,StatusRetired,NaN,Partial Failure,France,Arme de l'Air,S,1967-02-08 08:39:00+00:00,1967,2,8,08/02/1967,08:39
2,Arme de l'Air,"Brigitte, Hammaguir, Algeria, France",Diamant A | Diapason,StatusRetired,NaN,Success,France,Arme de l'Air,S,1966-02-17 07:33:00+00:00,1966,2,17,17/02/1966,07:33
3,Arme de l'Air,"Brigitte, Hammaguir, Algeria, France",Diamant A | Ast??rix,StatusRetired,NaN,Success,France,Arme de l'Air,S,1965-11-26 14:47:00+00:00,1965,11,26,26/11/1965,14:47
4,AEB,"VLS Pad, Alc?›ntara Launch Center, Maranh?œo, ...",VLS-1 | SACI-2,StatusActive,NaN,Failure,Brazil,Brazil,S,1999-12-11 19:40:00+00:00,1999,12,11,11/12/1999,19:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4319,Northrop,"Stargazer, Vandenberg AFB, California, USA",Pegasus XL | WIRE,StatusActive,40.0,Success,USA,USA,P,1999-03-05 02:56:00+00:00,1999,3,5,05/03/1999,02:56
4320,OKB-586,"Site 41/15, Baikonur Cosmodrome, Kazakhstan",Cosmos-3 (11K65) | VKZ,StatusRetired,NaN,Success,Kazakhstan,Ukraine,S,1968-03-28 00:00:00+00:00,1968,3,28,28/03/1968,00:00
4321,OKB-586,"Site 41/15, Baikonur Cosmodrome, Kazakhstan",Cosmos-3 (11K65) | VKZ,StatusRetired,NaN,Success,Kazakhstan,Ukraine,S,1967-10-12 14:15:00+00:00,1967,10,12,12/10/1967,14:15
4322,Yuzhmash,"Site 32/2, Plesetsk Cosmodrome, Russia",Tsyklon-3 | Intercosmos 25 & Magion 3,StatusRetired,NaN,Success,Russia,Ukraine,S,1991-12-18 03:54:00+00:00,1991,12,18,18/12/1991,03:54
4323,Yuzhmash,"Site 90/20, Baikonur Cosmodrome, Kazakhstan",Tsyklon-2 | IS Mass Model,StatusRetired,NaN,Success,Kazakhstan,Ukraine,S,1969-11-01 10:59:00+00:00,1969,11,1,01/11/1969,10:59